/* Footer */
footer {
    clear: both;
    margin-top: 2em;
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
    font-size: 15px;
}

/* Footer copyrights */
.copy {
    color: #aaa;
    text-align: center;
}

.copy small{
    font-size: small
}
.links a.active {
    background-color: red;
}
