html, body {
  height: 100%;
}
main
{
  margin-top: 1em;
}
body {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $body-bg;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}
b {
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $base-font-family;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}


a {
  color: $brand-color;
  text-decoration: none;
  &:hover{
    color: $text-color;

    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }

  }
}



p a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: -moz-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);

  -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);


  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
  &:hover {
    color: lighten($background-color, 50%);
    -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

  }

  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}


.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;

  @include media-query($on-palm) {
    font-size: 2em;
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 1em;
}

.article-list a
{
  color: navy;
}

.article-list a:hover
{
  color: #60c17d;
}

.article-list p
{
  margin-top: 1px;
}

/* Horizontal scrolling navbar. From: https://is.gd/WuJxqy */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }

html[data-theme=light] {
    color-scheme: light;
    --color-surface-1: hsl(0deg 0% 100%);
    --color-surface-2: hsl(0deg 0% 95%);
    --color-surface-3: hsl(0deg 0% 92%);
    --color-surface-4: hsl(0deg 0% 75%);
    --color-surface-5: hsl(0deg 0% 55%);
    --color-surface-6: hsl(0deg 0% 35%);
    --color-surface-7: hsl(0deg 0% 23%);
    --color-surface-8: hsl(0deg 0% 13%);
    --color-text-normal: var(--color-surface-8);
    --color-text-soft: var(--color-surface-6);
    --color-text-emphasis: black;
    --color-text-inverted: white;
    --color-border: var(--color-surface-4);
    --color-scrollbar-thumb: var(--color-surface-4);
}

html {
    --size-font-xs: clamp(0.75rem, 0.67vw + 0.6rem, 1rem);
    --size-font-sm: clamp(0.88rem, 0.67vw + 0.73rem, 1.13rem);
    --size-font-base: clamp(1rem, 0.67vw + 0.85rem, 1.25rem);
    --size-font-md: clamp(1.13rem, 0.83vw + 0.94rem, 1.44rem);
    --size-font-lg: clamp(1.25rem, 1vw + 1.03rem, 1.63rem);
    --size-font-xl: clamp(1.38rem, 1.67vw + 1rem, 2rem);
    --size-font-2xl: clamp(1.63rem, 1.67vw + 1.25rem, 2.25rem);
    --size-font-3xl: clamp(1.88rem, 2.33vw + 1.35rem, 2.75rem);
    --size-font-4xl: clamp(2.5rem, 6vw + 1.15rem, 4.75rem);
}

html {
    --size-leading-4xs: 1;
    --size-leading-3xs: 1.2;
    --size-leading-2xs: 1.3;
    --size-leading-xs: 1.4;
    --size-leading-sm: 1.5;
    --size-leading-base: 1.6;
    --size-leading-md: 1.7;
    --size-leading-lg: 1.8;
    --size-tracking-xs: -0.5px;
    --size-tracking-sm: -0.25px;
    --size-tracking-md: 0.25px;
    --size-tracking-lg: 1px;
    --size-spacing--4: 2px;
    --size-spacing--3: 4px;
    --size-spacing--2: 8px;
    --size-spacing--1: 12px;
    --size-spacing-0: 16px;
    --size-spacing-1: 18px;
    --size-spacing-2: 20px;
    --size-spacing-3: 24px;
    --size-spacing-4: 28px;
    --size-spacing-5: 32px;
    --size-spacing-6: 36px;
    --size-spacing-7: 40px;
    --size-spacing-8: 48px;
    --size-spacing-9: 56px;
    --size-spacing-10: 64px;
    --size-spacing-11: 76px;
    --size-spacing-12: 96px;
}
html {
    --font-family-body: Fira Sans,Sans-fallback;
    --font-weight-body-regular: 400;
    --font-weight-body-bold: 700;
    --font-family-mono: IBM Plex Mono,Monaco,Consolas,Courier New,monospace;
    --font-weight-mono-regular: 400;
    --font-weight-mono-medium: 500;
    --font-weight-mono-bold: 700;
}
html {
    color-scheme: light;
    --color-surface-1: hsl(0deg 0% 100%);
    --color-surface-2: hsl(0deg 0% 95%);
    --color-surface-3: hsl(0deg 0% 92%);
    --color-surface-4: hsl(0deg 0% 75%);
    --color-surface-5: hsl(0deg 0% 55%);
    --color-surface-6: hsl(0deg 0% 35%);
    --color-surface-7: hsl(0deg 0% 23%);
    --color-surface-8: hsl(0deg 0% 13%);
    --color-text-normal: var(--color-surface-8);
    --color-text-soft: var(--color-surface-6);
    --color-text-emphasis: black;
    --color-text-inverted: white;
    --color-border: var(--color-surface-4);
    --color-scrollbar-thumb: var(--color-surface-4);
}
:where(a,button,input,textarea,summary,[tabindex="0"]) {
    --outline-thickness: 0.1875rem;
    --outline-style: solid;
    --outline-color: currentcolor;
}
