{% assign issues_repo = site.issues_repo %}
{% assign issue_id = include.issue_id %}


<section id="comments" class="stack gap-10">
  <div class="stack gap-0">
    <div class="comment-actions flex flex-wrap align-center justify-between gap-0">
      <h2>Comments <span id="comments-count"></span></h2>
      <a
        class="button"
        href="https://github.com/{{ issues_repo }}/issues/{{ issue_id }}"
        >Post comment</a
      >
    </div>
  </div>
  <div id="comments-wrapper">
    Loading...
  </div>
</section>

<!-- Comments script -->

<script>
  const loadScript = (src) => {
  const scriptElement = document.createElement('script');
  document.body.appendChild(scriptElement);

  return new Promise((resolve) => {
    scriptElement.onload = resolve;

    // Important to register onload before setting src
    scriptElement.src = src;
  });
}
  const commentScripts = [
  'https://unpkg.com/marked@0.3.6/marked.min.js',
  'https://unpkg.com/dompurify@1.0.8/dist/purify.min.js',
  'https://unpkg.com/dayjs@1.8.21/dayjs.min.js',
  'https://unpkg.com/dayjs@1.7.8/plugin/relativeTime.js',
];

// Reminder: this gets called when the viewport intersects with the comments section
const initRenderComments = async (comments) => {
  if (!comments.length) {
    commentsWrapper.innerHTML = `<p>No comments yet 👀 Be the first to post!</p>`;
    return;
  }

  // Load all comment script dependencies async
  await Promise.all(commentScripts.map((script) => loadScript(script)));
  renderComments(comments);
}

const renderComments = (comments) => {
  // load the relativeTime plugin for dayjs so we can express dates relative to now
  dayjs.extend(dayjs_plugin_relativeTime);

  commentsCount.innerText = `(${comments.length})`;

  const commentsList = document.createElement('ol');
  commentsList.className = 'stack gap-10';
  commentsList.setAttribute('aria-label', 'Comments on this blog post');

  commentsList.innerHTML = comments
  .sort((comment1, comment2) => {
    return comment1.created_at < comment2.created_at ? 1 : -1;
  })
  .map(comment => {
    const datePosted = dayjs(comment.created_at).fromNow();
    const user = comment.user;
    const body = DOMPurify.sanitize(marked(comment.body));
    const postedByAuthor = comment.author_association === 'OWNER';
    const edited = comment.created_at !== comment.updated_at;

    return `<li>
                <article class="post-comment stack gap-0">
                <header class="post-comment-meta">
                    <img src="${user.avatar_url}" alt="" aria-hidden="true" class="post-comment-avatar circle" />
                    <a
                        href="https://github.com/${user.login}"
                        class="post-comment-username"
                        target="_blank"
                        >${user.login}</a
                    >
                    <span class="size-font-sm">commented <time datetime="${comment.created_at}">${datePosted}</time></span>
                    ${postedByAuthor ? '<span class="pill post-comment-author" data-shape="round" data-size="xs">Author</span>' : ''}
                    ${edited ? `<span class="meta comment-edited">Edited</span>` : ''}
                </header>
                <div class="post-comment-body rhythm">${body}</div>
                </article>
            </li>`;
  })
  .join('');

  commentsWrapper.innerHTML = '';
  commentsWrapper.appendChild(commentsList);
}
  const commentsSection = document.getElementById('comments');
  const commentsWrapper = commentsSection.querySelector('#comments-wrapper');
  const commentsCount = commentsSection.querySelector('#comments-count');
  
  const commentsObserver = new IntersectionObserver((entries, self) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      fetchComments(); // this is the important part
      self.unobserve(entry.target);
    }
  });
}, { rootMargin: '200px 0px 0px 0px' });

commentsObserver.observe(commentsSection);

const fetchComments = async () => {
  try {
    const comments = await (await fetch(
      'https://api.github.com/repos/{{ issues_repo }}/issues/{{ issue_id }}/comments'
    )).json();
    initRenderComments(comments);
  } catch (e) {
    commentsWrapper.innerHTML = `<p>Unable to retrieve the comments for this post.</p>`;
  }
}
</script>
