<div class="links scroll">
    <a href="{{site.baseurl}}/" {% if page.url == "/" %}class="active"{% endif %}>About</a>
    <a href="{{site.baseurl}}/research/" {% if page.url == "/research/" %}class="active"{% endif %}>Research</a>
    <a href="{{site.baseurl}}/publications/" {% if page.url == "/publications/" %}class="active"{% endif %}>Publication</a>
    <!-- <a href="{{site.baseurl}}/projects/">Projects</a> -->
    <a href="{{site.baseurl}}/recognition/" {% if page.url == "/recognition/" %}class="active"{% endif %}>Recognition</a>
    <a href="{{site.baseurl}}/logs/" {% if page.url == "/logs/" %}class="active"{% endif %}>Log</a>
    <a href="{{site.baseurl}}/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}>Blog</a>
</div>
